<!-- search.html -->
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<meta property="og:title" content="Touhou.media Database">
<meta property="og:description" content="Touhou.media is the leading english, open source database for Touhou Doujin Music. Over 150,000 songs on record!">
<meta property="og:url" content="https://touhou.media" />
</head>
<body>
<h1>Touhou.media Database</h1>
<form action="{{ url_for('search2') }}" method="get">
    <input type="text" name="query" placeholder="Enter your search term..." pattern="\d{1,4}" required title="Please enter upto 4 numbers.">
    <input type="submit" value="Search">
</form>
<table>
  <tr>
    <th>Source Track ID</th>
    <th>Source Track Name</th>
    <th>Number of Tracks</th>
  </tr>
  {% for source_track in source_tracks %}
  <tr>
    <td><a href="#" onclick="document.getElementsByName('source_track_id')[0].value = '{{ source_track[0] }}'">{{ source_track[0] }}</a></td>
    <td>{{ source_track[1] }}</td>
    <td>{{ source_track[2] }}</td>
  </tr>
  {% endfor %}
</table>
<div class="rotating-text">Graffic Design is my Passion</div>
<p style="text-align:center;">
  <a href="https://github.com/solaasan/Touhou-Music-Database">Contribute to Touhou.media over at Github</a>
</p>
</body>
</html>
